body {
  background-color: #c1fa9d;
}
h1 {
  color: blue;
}
p{
  color: green;
}

div#main {
  background-color: white;
  width: 75%;
}

div#title {
  text-align: center;
  font-size: 32px;
  background-color: #4abbb1;
}

div#container {
  background-color: silver;
}

div.section{
  color: white;
  background-color: black;
  font-size: 32px;
  width: 33.3333333%;
  float: left;
}
